@using CSM_Data_Access.Utility
@using Microsoft.AspNetCore.Components.Web
@namespace TKELog_WMS_V5_Web.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="vi" data-layout="horizontal" data-topbar="dark" data-sidebar="light" data-sidebar-size="lg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="~/" />

    <title>@CConfig.Product_Name</title>

    <meta content="TKSolution, TKElog WMS" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/filemanagement/config/favicon.png">

    <script src="/assets/js/layout.js"></script>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/csm.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/telerik/all.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

</head>
<body>
    <div id="layout-wrapper">
        <partial name="Menu_Top" />
        <partial name="Menu_Bottom" />

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <script src="/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/assets/js/plugins.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.js"></script>

    <script src="_framework/blazor.server.js"></script>
 

</body>
</html>
